img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

#sandcastle1 {
  display: none;
}

#sandcastle2 {
  display: none;
}

#sandcastle3 {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

.clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable3:hover {
  text-decoration: underline;
}
